<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
</head>
<body>
    <%- include('partials/nav') %> 
    <h1><%= product.name %></h1>
    <h2><%= product.description %></h2>
    <h2>$<%= (product.price / 100)  %></h2>
    <h2>There are <%= product.quantity %> left in stock!</h2>

    Add a button on this page so that the user can select the amount they want to
    purchase and add that amount into their cart. 



    
</body>
</html>